*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 5%;
    background-color: #3b5d50;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.logo{
    font-size: 32;
    font-weight: 700;
    color: #fff;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 0px 20px;
}

.menu li a{
    font-size: 18px;
    font-weight: 500;
    color: rgb(212, 212, 212);
    position: relative;
}

.menu li a::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #f9bf29;
    transform-origin: right top;
    transition: all 0.2s ease-out;
}

.menu li .active:before{
    width: 100%;
}

.menu li a:active::before{
    background-color: #000;
}

.menu li a:hover::before{
    width: 100%;
}

.nav-icons i{
    padding: 0px 20px;
    color: #fff;
}

.bars{
    display: none;
}

section{
    overflow-x: hidden;
}

.hero{
    background-color: #3b5d50;
    padding: 80px 5%;
    padding-bottom: 0;
}

.hero-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-info{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-info h1{
    font-size: 3.5rem;
    color: #fff;
    margin-bottom: 10px;
}

.hero-info p{
    color: rgba(255, 255, 255, 0.515);
    font-size: 15px;
    margin: 20px 0px;
    line-height: 30px;
}

.btns button{
    height: 50px;
    padding: 0px 30px;
    border-radius: 30px;
    font-size: 18px;
}

.btns:nth-child(1){
    background-color: #f9bf29;
    border: none;
    margin-right: 10px;
}

.btns:nth-child(2){
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.515);
    transition: all 0.5s ease-in-out;
}

.btns:nth-child(2):hover{
    border: 2px solid #fff;
}

.hero-img{
    width: 55%;
    position: relative;
}

.hero-img img{
    position: relative;
    width: 100%;
    z-index: 1;
}

.dots{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.product-section{
    width: 100%;
    background-color: #eff3f1;
}

.product-main{
    padding: 150px 5%;
    display: flex;
}

.product-info{
    width: 24%;
    margin-right: 1%;
}

.product-info h3{
    font-size: 14px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.738);
    margin-bottom: 30px;
}

.product-info p{
    font-size: 14px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.738);
    margin-bottom: 30px;
}

button{
    height: 50px;
    padding: 0px 30px;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(42, 42, 42);
    border: none;
}

.product-card{
    width: 75%;
    display: flex;
}

.product-item{
    width: 32px;
    text-align: center;
    margin-right: 1%;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.product-item:hover img{
    transform: translateY(-20px);
}

.shopoverlay{
    position: absolute;
    height: 70px;
    width: 100px;
    background-color: #dce5e4;
    border-radius: 5%;
    bottom: -100%;
    display: flex;
    z-index: 0;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.product-item h3, h4{
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.whychooseus{
    width: 100%;
    background-color: #EFF2F1;
}

.whychooseus-main{
    display: flex;
    padding: 100px 5%;
    justify-content: space-between;
}

.whychooseus-info{
    width: 48px;
    margin-right: 2%;
}

.whychooseus-info p{
    font-size: 14px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.621);
}

.whychooseus-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature{
    width: 48%;
}

.feature-icon{
    filter: drop-shadow(5px 5px 7px #3b5d50);
}

.feature mg{
    margin-top: 40px;
    margin-bottom: 10px;
}

.feature h3{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

